/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/



/*********************
HEADER STYLES
*********************/



/*********************
NAVIGATION STYLES
*********************/

//.nav {
//	border: 0;
//	@include span( 8 last);
//	position: relative;
//	bottom: 0;
//	//ul {
//	//	background:$black;
//	//	margin-top:0;
//	//}
//	li {
//		float: left;
//		position: relative;
//
//		a {
//			border-bottom: 0;
//			@include transition(all .4s ease-in-out);
//
//			/*
//			you can use hover styles here even though this size
//			has the possibility of being a mobile device.
//			*/
//			&:hover, &:focus {
//				color: $link-hover;
//
//			}
//		}
//
//		&:first-child {}
//		&:last-child {}
//
//		/*
//		plan your menus and drop-downs wisely.
//		*/
//		ul.sub-menu,
//		ul.children {
//			margin-top: 0;
//			border: 1px solid #ccc;
//			border-top: 0;
//			position: absolute;
//			visibility: hidden;
//			z-index: 8999;
//
//			li {
//
//				a {
//					padding-left: 10px;
//					border-right: 0;
//					display: block;
//					width: 180px;
//					border-bottom: 1px solid #ccc;
//
//					&:hover,
//					&:focus {}
//
//					&:link {}
//				}
//
//				&:first-child {}
//
//				&:last-child {
//
//					a {
//						border-bottom: 0;
//					}
//				}
//
//				/*
//				if you need to go deeper, go nuts
//				just remember deeper menus suck
//				for usability. k, bai.
//				*/
//				ul {
//					top:0;
//					left:100%;
//				}
//			}
//
//			/* highlight sub-menu current page */
//			li.current-menu-item,
//			li.current_page_item,
//			li.current_page_ancestor {
//				a {
//
//				}
//			}
//		}
//
//		/* showing sub-menus */
//		&:hover > ul {
//			top: auto;
//			visibility:visible;
//		}
//
//	} /* end .menu ul li */
//
//	/* highlight current page */
//	li.current-menu-item,
//	li.current_page_item,
//	li.current_page_ancestor {
//		a {}
//	}  /* end current highlighters */
//
//} /* end .nav */




/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

