/*********************
GENERAL STYLES
*********************/

body {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height:$base-line-height;
  font-weight:300;
  color: $text-color;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.size-full{
  width: 100%;
  height:auto;
}
/*********************
LINK STYLES
*********************/

a, a:visited {
  color: $link-color;
  @include transition(all .4s ease-in-out);
  text-decoration: none;


  /* on hover */
  &:hover, &:focus {
    color: $link-hover;
    text-decoration: none;
  }

  /* on click */
  &:active {

  }

  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

//Modal
.emodal-overlay{

}

#searchsubmit, input[type="submit"]{
  background: transparent;
  border: 2px solid $accent-color;
  color:$accent-color;
  font-weight: 600;
  padding: 8px 12px;
  @include transition(all .4s ease-in-out);
  &:hover{
    color:$white;
    background: $accent-color;
  }
}