/*********************
FOOTER STYLES
*********************/
.separator{
  padding: 15px 0;
}
.footer {
  clear: both;
  background-color: $accent-color;
  color: $light-gray;
  padding: 40px 0;
}

/*
if you checked out the link above:
http://www.alistapart.com/articles/organizing-mobile/
you'll want to style the footer nav
a bit more in-depth. Remember to keep
it simple because you'll have to
override these styles for the desktop
view.
*/
.footer-links {

  ul {

    li {}

  }

} /* end .footer-links */

.footer-title{
  text-align: center;
  font-size:rem(34);
  margin-bottom: 30px;
}
.sponsor {
  img {

  display: block;
  margin: 0 auto 20px;
}
  @include susy-media( $tablet){
   @include gallery(4 of 12);
  }
}
.copyright {}