/*********************
HEADER STYLES
*********************/

.header {
  min-height:145px;
  position: relative;
  &.header-image{
    min-height: 145px;
    @include susy-media( 769px) {
      min-height: 386px;
    }
    .inner-header-wrapper{
      border:none;
    }
  }
}
.inner-header-wrapper{
  position: absolute;
  bottom:0;
  width: 100%;
  background: $transparent;
  height: 150px;
  border:1px solid #ddd;


}

#logo {
  position: relative;
  top: 30px;
  //margin: 0.75em 0;
  @include susy-media( $tablet){
    @include span(3);
  }

  a {
    color: $text-color;
  }
  .logo-text{
    text-indent:-3000px;
  }
}
.sticky {
  background: #fefefe none repeat scroll 0 0;
  border-top: 0 none;
  box-shadow: 1px -9px 13px #000;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
