/*********************
NAVIGATION STYLES
*********************/

.nav {
  &.top-nav{
    @include susy-media( $desktop){
      margin-right: -133px;
    }
    @include span(8 last);
    li a{
      @include susy-media( $tablet 1240px) {
        font-size: 16px;
        padding: 6px;
      }
    }
  }
  border-bottom: 0;
  margin: 0;
  ul {
    //background:$black;
    margin-top:0;
  }
  li {
    position: relative;
    display: inline-block;

    a {
      border-bottom: 0;
      display: block;
      color: $text-color;
      font-size: rem(21);
      text-decoration: none;
      padding: 10px;

      @include transition(all .4s ease-in-out);

      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */
      &:hover, &:focus {
        color: $accent-color;

      }
    }

    &:first-child {}
    &:last-child {}

    /*
    plan your menus and drop-downs wisely.
    */
    ul.sub-menu,
    ul.children {
      margin-top: 20px;
      //border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      visibility: hidden;
      opacity:0;

      @include transform(translateY(0));
      z-index: 8999;

      @include transition(all .4s ease-in-out);

      li {
        background: $accent-color;
        a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          font-size:rem(14);
          font-weight: 600;
          color: $white;
          @include transition(all .4s ease-in-out);
          //border-bottom: 1px solid #ccc;

          &:hover,
          &:focus {
            //color: $black;
            background:lighten($accent-color, 2%);
          }

          &:link {}
        }

        &:first-child {}

        &:last-child {

          a {
            border-bottom: 0;
          }
        }

        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */
        ul {
          top:0;
          left:100%;
        }
      }

      /* highlight sub-menu current page */
      li.current-menu-item,
      li.current_page_item,
      li.current_page_ancestor {
        a {}
      }
    }

    /* showing sub-menus */
    &:hover > ul {
      top: auto;
      visibility:visible;
      opacity:1;
      @include transform(translateY(-15px));
    }

  } /* end .menu ul li */

  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {
    a {}
  }  /* end current highlighters */

} /* end .nav */
.nav.small-nav{

  float: right;
  & a{
    font-size:rem(13);
  }
}
.small-menu-nav{
  display: none;

  @include susy-media( $tablet){
    display: block;
    height: 40px;
    position: relative;
    top: 30px;
  }
  .small-nav{
    @include span(6);
    float: right;
    @include susy-media( $desktop){
      margin-right: 30px;
    }
    @include susy-media( $tablet $desktop){
      margin-right: 115px;
    }
  }
  .searchform{
    width: 195px;
    input{
      width: 165px;
      height: 23px;
      background-color: #ededed;
      float: right;
      position: relative;
      top:-33px;
      padding-left:25px;
      background:rgba(255,255,255,.9);
      @include susy-media( $tablet $desktop){
        width: 90px;
      }
    }
    &:before{
      content: url(../images/magnify.png);
      height: 14px;
      z-index: 9999;
      position: absolute;
      display: block!important;
      width: 14px;
      top: 11px;
      right: 181px;
      @include susy-media($tablet $desktop){
        right: 108px;
      }
    }

    @include span(5 last);
    label,#searchsubmit {
      display: none;
    }
  }
}

#inner-header .simple-social-icons{
  ul{
    list-style-type: none;
    li {
      @include susy-media($tablet $desktop){
        margin: 0 2px 12px !important;
      }
      a{
        background: transparent !important;
        padding: 3px;

      }
    }

  }
  position: absolute;
  right: 210px;
  top: -32px;
  @include susy-media($tablet $desktop){
    right: 130px;
  }
}
.simple-social-icons{
  display: none;
}
.small-menu-nav .simple-social-icons{
  display: block;
}
.responsive-menu-open .simple-social-icons{
  display: block;
  position: fixed;
  z-index: 99999;
  top: 430px;
  left: 10px;
}