/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {
}

/* for sites that are read right to left (i.e. hebrew) */
.home {
}

/* home page */
.blog {
}

/* blog template page */
.archive {
}

/* archive page */
.date {
}

/* date archive page */
.date-paged-1 {
}

/* replace the number to the corresponding page number */
.search {
}

/* search page */
.search-results {
}

/* search result page */
.search-no-results {
}

/* no results search page */
.search-paged-1 {
}

/* individual paged search (i.e. body.search-paged-3) */
.error404 {
}

/* 404 page */
.single {
}

/* single post page */
.postid-1 {
}

/* individual post page by id (i.e. body.postid-73) */
.single-paged-1 {
}

/* individual paged single (i.e. body.single-paged-3) */
.attachment {
}

/* attatchment page */
.attachmentid-1 {
}

/* individual attatchment page (i.e. body.attachmentid-763) */
.attachment-mime-type {
}

/* style mime type pages */
.author {
}

/* author page */
.author-nicename {
}

/* user nicename (i.e. body.author-samueladams) */
.author-paged-1 {
}

/* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {
}

/* category page */
.category-1 {
}

/* individual category page (i.e. body.category-6) */
.category-paged-1 {
}

/* replace the number to the corresponding page number */
.tag {
}

/* tag page */
.tag-slug {
}

/* individual tag page (i.e. body.tag-news) */
.tag-paged-1 {
}

/* replace the number to the corresponding page number */
.page-template {
}

/* custom page template page */
.page-template-page-php {
}

/* individual page template (i.e. body.page-template-contact-php */
.page-paged-1 {
}

/* replace the number to the corresponding page number */
.page-parent {
}

/* parent page template */
.page-child {
}

/* child page template */
.parent-pageid-1 {
}

/* replace the number to the corresponding page number */
.logged-in {
}

/* if user is logged in */
.paged {
}

/* paged items like search results or archives */
.paged-1 {
}

/* individual paged (i.e. body.paged-3) */
//Home block 1
.home-block {
 min-height: 384px;
}

.left-block {
  @include susy-media($tablet) {
    @include span(6 no-gutters inside);
  }
  min-height: 384px;
}

.right-block {
  //min-height:384px;

  @include susy-media($tablet) {
    @include span(6 last no-gutters inside);
  }
  .top-image{
    min-height: 215px;
  }

  .image-small {
    min-height: 169px;

    @include span(6 no-gutters inside);

  }


}
.text-block {
  min-height: 215px;
  padding: 20px 20px 20px 40px;

}

.text-block-title {

  font-size: rem(24);
  margin: 10px 0 15px;
}
.half {
  @include span(6 last no-gutters inside);
}
.green-block {
  //&.half {
  //  @include span(6 last no-gutters inside);
  //}

  background: $accent-color;
  color: $white;
  text-align: center;
  height: 169px;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
}

.green-block-title {
  font-size:rem(24);
  color:$white;
  text-align: center;
  @include susy-media($tablet) {
    font-size: rem(32);
  }


}
.home .home-block.second{
  .green-block-title{
    @include susy-media( 0 $mobile){
      position: relative;
      top: -50px;
    }
  }
}
//Numbers
.numbers{
  background:$gray;
  padding: 50px 0 40px;
}
.number-item{
  text-align: center;
  margin-bottom: 20px;
    @include gallery(6);
  @include susy-media( $tablet){
    @include gallery(2 of 10);
  }
  img.schools{
    height: 50px;
  }
  .number{
    font-family:$serif;
    font-size:rem(34);
    margin-bottom: 10px;
  }
  .title{
    font-size:rem(23);
  }
}

//carousel
.section-title{
  font-size:rem(32);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.logo-carousel{
  background: $gray;
  padding: 40px 0;

}
.flexslider{
  @include container(90%);
  @include susy-media( $desktop) {
    @include container(80%);
  }
}

.flexslider .slides img{
  width:auto;
}
.flex-direction-nav a {
  display: none;
  @include susy-media( $desktop){
    display: block;
  }
}

//Students Home
.student{

  @include susy-media( 900px){
    @include gallery(4 no-gutters inside);
  }
}
.student-name{
  margin-top: 15px;
  text-align: center;
  color:$black;
}
.student-excerpt{
  padding: 0 40px 10px;
}

/*--------------------------------------------------------------
STUDENTS
--------------------------------------------------------------*/
.intro{
  padding: 40px 0;
  .text{
    margin-bottom: 20px;
    @include susy-media( $tablet ){
      @include span(6);
      padding-right: 12%;
      margin-top: 20px;
    }
  }
  .image{

    @include susy-media( $tablet){
      @include span(6 last);
    }
    img{
      display: block;
      margin: 0 auto;
    }
  }
}


//3 blocks
.block{
  height: 115px;
  @include display(flex);
  @include align-items(center);
  @include justify-content(center);
  @include susy-media( $tablet){
    @include gallery(4 no-gutters inside);
  }
  background: $dark-gray;
  &.green{
    background: $accent-color;
  }
  img{
    width: 170px;
  }
}

//Curriculum
.curriculum-container{
  @include container($tablet);
}
.curriculum{
  padding: 40px 40px;
  background: $gray;
  .left{
    @include susy-media( $mobile){
      @include span(5);
    }
  }
  .right{
    @include susy-media( $mobile){
      @include span(5 last);
    }
  }
  h3.title{
    font-size: rem(24);
    text-align: center;
  }
  .icon{
    @include span(1);
    margin-left: 20px;
  }
  .content{
    @include span( 8 last);
  }
  p{
    margin: 0;
  }
}
//Interior page
.page-template-default{
  .intro-container{
    @include container($tablet);
  }
}
.page-block{
  background: $gray;
  .left-block{
    padding: 40px;
    @include susy-media( $tablet) {
      padding: 90px 40px;
    }

    @include susy-media( $desktop) {
      padding: 90px;
    }
    //height:auto;
    min-height:0;

  }
  .right-block{
  }

}

//Page sections
.page-section{
  color:$white;
  .block{
    height:auto;
    display: block;
    @include susy-media( 0 $tablet){
      min-height:80px;
      margin-top: -25px;
    }
  }
}
.page-section-content{
  padding:0 40px 30px;
  display: none;
  p{
    margin:0;
  }
}
.trigger{
  font-size:40px;
  text-align: center;
  line-height: 0;
  position: relative;
  top:-15px;
  @include susy-media( $tablet) {
    top: -30px;
  }
  &:hover{
    cursor:pointer;
  }
  &.open{
    padding-bottom: 30px;
    @include susy-media( $mobile){
      padding-bottom: 15px;
    }
  }
}
//events section
.events{
  background: $gray;
  .section-title{
    margin-bottom: 10px;
  }
  .event-image{

    @include susy-media( 0 $tablet) {
      height: 300px;
    }
  }
}
.events-col{
  @include susy-media( $tablet){
    @include span(6 of 16 no-gutters inside);
  }
}
.image-col{
  @include susy-media( $tablet){
    @include span(4 of 16 );
  }
}
.logo-col{
  @include susy-media( $tablet){
    @include span(6 of 16 last);
  }
}
.events-col, .logo-col{
  margin-top: 20px;
}
.event-item{
  text-align: center;
  margin-bottom: 20px;

}
.event-date{
  font-size: rem(24);
  color:$accent-color;
}
.event-title{
  font-size:rem(19);
}
.event-venue{
  font-size: rem(15);
}
.event-logo img {
    display: block;
    margin: 20px auto;
  @include susy-media( $tablet){
    margin: 20px 50px 0 ;
  }
  @include susy-media( 0 $desktop){
    max-width: 200px;

  }
}
.calendar{
  height: 70px;
  background: $accent-color;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    .green-block-title {
      line-height: 0;
      @include susy-media( 0 $mobile){
        top:0;
      }
    }
}
//Landing page
.landing-contact{
  min-height:635px;
  margin-bottom: 20px;
  h2{
    color: $accent-color;
    font-size:rem(58);
  }
}
.gallery{
  margin-top: 10px;
  .gallery-item{
    height:250px;
    @include susy-media( 0 $tablet){
      margin-bottom: 10px;
    }

    @include susy-media( $mobile) {
      @include gallery(6);
    }
    @include susy-media( $tablet) {
      @include gallery(4);
    }
  }
}

.page-template-login-page{
  form{
    p:first-child{
      text-align: center;
      font-size:32px;
      font-family: $serif;
      color: $accent-color;
      @include susy-media($tablet) {
        width: 70%;
        margin: 0 auto;
      }

    }
    p:last-child{
      max-width: 300px;
      margin: 0 auto;
      margin-top: 50px;
      label{
        font-size:12px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing:1px;

      }
      input{
        margin-top: 10px;
      }
      input[type="submit"]{
        display: block;
        width: 100%;
        text-transform: uppercase;
        padding: 13px 0;
      }
    }

  }
}

