/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
  @include susy-media( $tablet){
    margin-top: 2.2em;
  }
}

.widgettitle {
  @include susy-media( $tablet){
    border-bottom: 2px solid #444;
    margin-bottom: 0.75em;
  }
}

.widget {
  @include susy-media( $tablet){
    padding: 0 10px;
    margin: 2.2em 0;
  }

  ul {

    li {
      @include susy-media( $tablet){
        margin-bottom: 0.75em;
      }

      &:first-child {}

      &:last-child {}

      a {}

      /* deep nesting */
      ul {
        @include susy-media( $tablet){
          margin-top: 0.75em;
          padding-left: 1em;
        }
      }

    }

  }

}

.no-widgets {
  background-color: $white;
  padding: 1.5em;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

/* links widget */
.widget_links {}
.widget_links ul {}
.widget_links ul li {}
.widget_links ul li a {}

/* meta widget */
.widget_meta {}
.widget_meta ul {}
.widget_meta ul li {}
.widget_meta ul li a {}

/* pages widget */
.widget_pages {}
.widget_pages ul {}
.widget_pages ul li {}
.widget_pages ul li a {}

/* recent-posts widget */
.widget_recent_entries {}
.widget_recent_entries ul {}
.widget_recent_entries ul li {}
.widget_recent_entries ul li a {}

/* archives widget */
.widget_archive {}
.widget_archive ul {}
.widget_archive ul li {}
.widget_archive ul li a {}
.widget_archive select {}
.widget_archive option {}

/* tag-cloud widget */
.widget_links {}
.widget_links li:after {}
.widget_links li:before {}
.widget_tag_cloud {}
.widget_tag_cloud a {}
.widget_tag_cloud a:after {}
.widget_tag_cloud a:before {}

/* calendar widget */
.widget_calendar {}
#calendar_wrap {}
#calendar_wrap th {}
#calendar_wrap td {}
#wp-calendar tr td {}
#wp-calendar caption {}
#wp-calendar a {}
#wp-calendar #today {}
#wp-calendar #prev {}
#wp-calendar #next {}
#wp-calendar #next a {}
#wp-calendar #prev a {}

/* category widget */
.widget_categories {}
.widget_categories ul {}
.widget_categories ul li {}
.widget_categories ul ul.children {}
.widget_categories a {}
.widget_categories select{}
.widget_categories select#cat {}
.widget_categories select.postform {}
.widget_categories option {}
.widget_categories .level-0 {}
.widget_categories .level-1 {}
.widget_categories .level-2 {}
.widget_categories .level-3 {}

/* recent-comments widget */
.recentcomments {}
#recentcomments {}
#recentcomments li {}
#recentcomments li a {}
.widget_recent_comments {}

/* search widget */
#searchform {}
.widget_search {}
.screen-reader-text {}

/* text widget */
.textwidget {}
.widget_text {}
.textwidget p {}

