/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  padding:0 5%;
  margin: 0 auto;
  @include susy-media( $tablet){
    width: 760px;

  }
  @include susy-media( $desktop){
    width: 1040px;
    padding: 0;
  }

}