/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow: #ebe16f;
$alert-red: #fbe3e4;
$alert-green: #e6efc2;
$alert-blue: #d5edf8;

$black: #000;
$white: #fff;

$light-gray: #f8f9fa;
$gray: #ededed;
$dark-gray: #363636;
$text-color: $black;
$meta-gray: #9fa6b4;

$tan: #eceee5;

$green: #00A678;
$accent-color: $green;
$transparent: rgba(255, 255, 255, .85);

$bones-pink: #f01d4f;
$blue: #2980b9;

$link-color: $black;
$link-hover: $accent-color;

$border-color: #ccc;
$disabled-gray: #cfcfcf;

// font stacks
$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Cambria, Times New Roman, Times, serif;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$base-font: $sans-serif;
$base-line-height: 1.5;
$base-font-size: rem(17);
$lato: 'Lato', $sans-serif;

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

//Susy
// Susy
$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: auto,
        container-position: center,
        columns: 12,
        gutters: 0.25,
        column-width: false,
        global-box-sizing: border-box,
        last-flow: to,
        use-custom: (
                background-image: true,
                background-options: true,
                box-sizing: true,
                clearfix: true,
                rem: true,
        )
);
$mobile: 482px;
$tablet: 769px;
$laptop: 1031px;
$desktop: 1241px;